## 列选择

### 选择某一列/某几列

In [8]:
import pandas as pd
df = pd.read_excel(r"..\Data\Chapter06.xlsx",sheet_name = 0)
#通过传入列名选择数据的方式称为普通索引
df
df['客户姓名']
df[['订单编号','客户姓名']]
#通过传入具体位置来选择数据的方式称为位置索引
df.iloc[:,[0,2]] #获取第1和第3列的数值，：表示获取所有的行

  订单编号  唯一识别码
0   A1    101
1   A2    102
2   A3    103
3   A3    103
4   A4    104
5   A5    104

### 连续选择某几列

In [11]:
#通过传入一个位置区间来获取数据的方式称为切片索引
df.iloc[:,0:3] #选择第1列到第4列的之间的值（包含第1列但是不包含第4列）

  订单编号 客户姓名  唯一识别码
0   A1   张通    101
1   A2   李谷    102
2   A3   孙凤    103
3   A3   孙凤    103
4   A4   赵恒    104
5   A5   赵恒    104

## 行选择

### 选择某一行/某几行

In [18]:
#利用loc()方法，普通索引
df.index = ["一","二","三","四","五","六"]
df.loc["一"]
df.loc[["一","二"]]
#利用iloc方法，位置索引
df.iloc[0]
df.iloc[[0,1]] #选择第一和第二行

  订单编号 客户姓名  唯一识别码       成交时间
一   A1   张通    101 2018-08-08
二   A2   李谷    102 2018-08-09

### 选择连续的某几行

In [19]:
df.iloc[0:3]#选择第一行到第四行（不包含第四行）

  订单编号 客户姓名  唯一识别码       成交时间
一   A1   张通    101 2018-08-08
二   A2   李谷    102 2018-08-09
三   A3   孙凤    103 2018-08-10

### 选择满足条件的行

In [21]:
import pandas as pd
df = pd.read_excel(r"..\Data\Chapter06.xlsx",sheet_name=3)
df
#选择年龄小于200的数据
df[df['年龄']<200]
#选择年龄小于200并且唯一识别码小于200，条件用括号括起来
df[(df['年龄']<200) & (df['唯一识别码']<102)]

  订单编号 客户姓名  唯一识别码    年龄       成交时间
0   A1   张通  101.0  31.0 2018-08-08

## 行列同时选择

### 普通索引+普通索引选择指定的行和列

In [20]:
import pandas as pd
df = pd.read_excel(r"..\Data\Chapter06.xlsx",sheet_name=4)
df.index = ["一","二","三","四","五"]
#用loc传入行列名称
df.loc[["一","二"],["订单编号","客户姓名","唯一识别码"]]

  订单编号 客户姓名  唯一识别码
一   A1   张通    101
二   A2   李谷    102

### 位置索引+位置索引选择指定的行和列

In [16]:
#用iloc方法传入行列位置
df.iloc[[0,1],[0,2]]

  订单编号  唯一识别码
一   A1    101
二   A2    102

### 布尔索引+普通缩影选择指定的行和列

In [12]:
#先进行布尔选择，然后通过普通索引选择列
df[df["年龄"]<200][["订单编号","年龄"]]

  订单编号  年龄
一   A1  31
二   A2  45
三   A3  23

### 切片索引+切片索引选择指定的行和列

In [17]:
import pandas as pd
df = pd.read_excel(r"..\Data\Chapter06.xlsx",sheet_name=4)
df.index = ["一","二","三","四","五"]
#iloc第一个参数选择的是行区间，第二个参数选的是列的区间
df.iloc[0:3,1:4]

  客户姓名  唯一识别码  年龄
一   张通    101  31
二   李谷    102  45
三   孙凤    103  23

### 切片索引+普通索引指定的行和列

In [19]:
df
df.ix[0:3,["客户姓名","唯一识别码"]]
df.iloc[0:3][["客户姓名","唯一识别码"]]

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

  客户姓名  唯一识别码
一   张通    101
二   李谷    102
三   孙凤    103