# 时间序列

## 获取当前时刻的时间

**返回当前时刻的日期和时间**

In [76]:
from datetime import datetime
datetime.now()

datetime.datetime(2019, 3, 14, 15, 57, 43, 307645)

**分别返回当前时刻的年、月、日**

In [77]:
datetime.now().year

2019

In [3]:
datetime.now().month

3

In [78]:
datetime.now().day

14

**返回当前时刻的周数**

In [6]:
#返回周几，python周几是从0开始的，所以后面加1
datetime.now().weekday()+1

7

In [9]:
#返回周数
datetime.now().isocalendar()
#2019年第10周的第7天

(2019, 10, 7)

In [11]:
#返回周数
datetime.now().isocalendar()[1]

10

**指定日期和时间格式**  
- date()函数将只展示日期  
- time()函数将只展示时间  
- strftime()函数可以自定义时间和日期格式

In [12]:
datetime.now().date()

datetime.date(2019, 3, 10)

In [13]:
datetime.now().time()

datetime.time(22, 11, 41, 36684)

strftime()定义的时间格式  

代码 | 说明
---|---
%H | 小时(24小时制)[00,23]
%I | 小时(24小时制)[01,12]
%M | 两位数的分[00,59]
%S | 秒\[00,61](60和61用于闰秒)
%w | 用整数表示星期几，从0开始
%U | 每年的第几周，周日被认为每周第一天
%U | 每年的第几周，周一被认为每周第一天
%F | %Y-%m-%d的简写形式，例如2018-04-18
%D | %m/%d/%y的简写形式，例如04/18/2018

In [14]:
datetime.now().strftime("%Y-%m-%d")

'2019-03-10'

## 字符串和时间格式相互转换

**将时间格式转换为字符串格式**  
使用str()函数

In [79]:
from datetime import datetime
now = datetime.now()
now
type(now)
type(str(now))

str

**将字符串格式转换为时间格式**  
使用parse()函数

In [11]:
from dateutil.parser import parse
str_time = "2019-03-11"
type(str_time)
parse(str_time)
type(parse(str_time))

datetime.datetime

## 时间索引  
时间索引就是根据时间来对时间格式的字段进行数据选取的一种索引方式。

In [4]:
import pandas as pd
import numpy as np
index = pd.DatetimeIndex(['2018-01-01','2018-01-02','2018-01-03','2018-01-04','2018-01-05',
                          '2018-01-06','2018-01-07','2018-01-08','2018-01-09','2018-01-10'])
data = pd.DataFrame(np.arange(1,11),columns =["num"],index = index)
data

            num
2018-01-01    1
2018-01-02    2
2018-01-03    3
2018-01-04    4
2018-01-05    5
2018-01-06    6
2018-01-07    7
2018-01-08    8
2018-01-09    9
2018-01-10   10

In [5]:
#获取2018年的数据
data["2018"]

            num
2018-01-01    1
2018-01-02    2
2018-01-03    3
2018-01-04    4
2018-01-05    5
2018-01-06    6
2018-01-07    7
2018-01-08    8
2018-01-09    9
2018-01-10   10

In [6]:
#获取2018年1月份的数据
data["2018-01"]

            num
2018-01-01    1
2018-01-02    2
2018-01-03    3
2018-01-04    4
2018-01-05    5
2018-01-06    6
2018-01-07    7
2018-01-08    8
2018-01-09    9
2018-01-10   10

In [8]:
#获取2018年1月1日到2018年1月5日的数据
data["2018-01-01":"2018-01-05"]

            num
2018-01-01    1
2018-01-02    2
2018-01-03    3
2018-01-04    4
2018-01-05    5

In [3]:
import pandas as pd
from datetime import datetime
df = pd.read_excel(r"../Data/Chapter06.xlsx",sheet_name = 4)
df[df["成交时间"]>datetime(2018,8,8)]

  订单编号 客户姓名  唯一识别码   年龄       成交时间  销售ID
1   A2   李谷    102   45 2018-08-09     2
2   A3   孙凤    103   23 2018-08-10     1
3   A4   赵恒    104  240 2018-08-11     2
4   A5   王娜    105   21 2018-08-11     3

In [4]:
df[df["成交时间"] == datetime(2018,8,8)]

  订单编号 客户姓名  唯一识别码  年龄       成交时间  销售ID
0   A1   张通    101  31 2018-08-08     1

In [26]:
df[df["成交时间"]<datetime(2018,8,9)]

  订单编号 客户姓名  唯一识别码  年龄       成交时间  销售ID
0   A1   张通    101  31 2018-08-08     1

In [29]:
df[(df["成交时间"]>datetime(2018,8,8))&(df["成交时间"]< datetime(2018,8,11))]

  订单编号 客户姓名  唯一识别码  年龄       成交时间  销售ID
1   A2   李谷    102  45 2018-08-09     2
2   A3   孙凤    103  23 2018-08-10     1

## 时间运算

**两个时间之差**

In [30]:
cha = datetime(2018,5,21,19,50)-datetime(2018,5,18,20,32)
cha

datetime.timedelta(days=2, seconds=83880)

In [31]:
#返回天数
cha.days

2

In [33]:
#返回秒时差
cha.seconds

83880

In [35]:
#换算成小时的时间差
cha.seconds/3600

23.3

**时间偏移**
- timedelata只能偏移天、秒、微秒
- 日期偏移量,可以直接实现天、小时、分钟单位的偏移date offset

**timedelate**

In [43]:
from datetime import timedelta,datetime
date = datetime.now()
date

datetime.datetime(2019, 3, 14, 15, 39, 55, 130084)

In [51]:
#往后推一天
date+timedelta(days =1)

datetime.datetime(2019, 3, 15, 15, 39, 55, 130084)

In [50]:
#往后推60秒
date+timedelta(seconds = 60)

datetime.datetime(2019, 3, 14, 15, 40, 55, 130084)

In [52]:
#往前推一天
date - timedelta(days =1)

datetime.datetime(2019, 3, 13, 15, 39, 55, 130084)

**data offset**

In [74]:
from pandas.tseries.offsets import Hour,Minute,Day,MonthEnd
date = datetime.now()
date

datetime.datetime(2019, 3, 14, 15, 57, 32, 786664)

In [67]:
#往后推一天
date+Day(1)

Timestamp('2019-03-15 15:54:23.875623')

In [70]:
#往后推1小时
date+Hour(1)

Timestamp('2019-03-14 16:54:23.875623')

In [71]:
#往后推10分钟
date+Minute(10)

Timestamp('2019-03-14 16:04:23.875623')

In [75]:
#推后到月底
date+MonthEnd(1)

Timestamp('2019-03-31 15:57:32.786664')